* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62,5%;
  --primary-color: #FF9500;
  --button-font: 'DM Sans', sans-serif;
}

.hide {
  display: none;
}

body {
  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  font-size: 2.4rem;
  display: grid;
  place-items: center;
  height: 100vh;
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main {
  width: 42.8rem;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 4.8rem 6.4rem 6.4rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 auto;

}

/* screen1 */
main h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
  color: #34355B;
}

main p {
  margin-bottom: 2rem;
  color: #34355B;
}

#cookieOpen {
  width: 30rem;
  height: 20rem;
  top: 11.2rem;
  animation: tremer 0.2s infinite;
  animation-play-state: paused;
  cursor: pointer;
  transition: all 1s;
}

#cookieOpen:hover {
  animation-play-state: running;
}

@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

/* screen2 */

.screen2 main {
  height: 100%;
  padding: 4.8rem 6.4rem;
}

.screen2 h1 {
  margin-bottom: 1.7rem;
  font-size: 2.4rem;
  line-height: 29px;
}

.fortuneRandomPhrase {
  margin: auto;
  padding: 1rem;
  background: #E4EDF1;
  box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);
  display: flex;
  width: 300px;
  justify-content: center;
  animation: downtop 2s 350ms backwards;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(8rem) scale(0);
  }

  100% {
    opacity: 4;
    transform: translateY(0) scale(1);
  }
}


.screen2 p {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-bottom: auto;
}

#imgcookie {
  margin-bottom: 1.7rem;
  width: 300px;
  height: 200px;

}

.screen2 button {
  width: 174px;
  height: 52px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: #FFFFFF;
  font-family: var(--button-font);
  font-size: 15px;
  text-align: center;
  line-height: 19.3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.screen2 button:hover {
  background-color: #FFA33B;
}